@media only screen and (max-width: 500px) {
  .container-bar .item {
    width: 100%;
    padding: 20px;
    text-align: left;
  }

  .container-about {
    display: block;
  }
  #target,
  #personal-info {
    width: 100%;
  }
  .container-info {
    display: block;
  }
  .info {
    width: 100%;
  }
  .certificate {
    display: block;
  }
  .image-text {
    width: 100%;
  }
  .container-project {
    display: block;
    padding-right: 2%;
  }
  .project1,
  .project2,
  .project3 {
    width: 98%;
  }
}
